@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=PT+Serif&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=PT+Serif&display=swap');


content {max-width:1600px ;}
content {margin: 0 auto;}

nav a {max-width: 1600px;margin: 0 auto;text-decoration: none;text-align: center;padding: 35px;} 

hero-msg h1 {max-width: 1600px;margin: 0 auto;text-align: center;}

hero-msg h4 {text-align: center;max-width: 1600px;margin: 0 auto;}

.button-box {text-align: center;max-width: 1600px;margin: 0 auto;}

main section {text-align: center;max-width: 1600px; margin: 0 auto;}

background {height: 725px;}

body {background-color:#14FFF7; font-family:Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;}

header {background-color: #3C493F;}

h2 {margin: 0;}
nav a {color: white}
nav a :hover {background-color: black; color: rgb(188, 183, 183)}

.book {background-color: rgb(77, 183, 222); color:black;text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-size: 18px;padding: 15px 35px;margin-top: 50px;}

.join {background-color: rgb(12, 135, 149); color:black; text-decoration: none;padding:15px 35px;margin-top: 50px;}
.book:hover {background-color: white; color:black;border-radius: 5px;}

.join:hover {background-color: white; color:black}
.join{font-family: serif; font-size: 18px;border-radius: 5px;}
background {background-color: aqua;}

.msg {background-color:aquamarine; line-height: 1.5em;}
.msg {font-family: Arial, Helvetica, sans-serif; font-size:.8em;padding: 35px;}
footer {background-color: rgb(3, 120, 173);}

.home-title {color:black}

h4{color:black}

.msg h2{color:black}

.msg p {color:black;padding-bottom: 15px;}

footer{color:black;padding: 25px 50px;margin-top: 200px;}

footer a {color:black}

footer a:hover {color:white}
footer a {text-decoration: none;}

.logo {width:80px}

heroimg {width: 100px;}

.icon {width:80px;padding-top: 10px;}

.home-title{font-family:"Bitter,PT-Serif";
font-size: 2em; margin-top: 10px;}

#logo_link{padding-top: 5px;} 
div-social {padding-top: 15px;}
.rivers-card{margin: 200px 0;}
.camping-card{margin: 200px 0;}
.rapids-card{margin: 200px 0;}
.card-image{border: 10px solid black;}

main section img{box-sizing: border-box;}